.login_container {
  margin: 100px;
  h2{
    text-align: center;
    padding: 30px;
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  input {
    height: 30px;
    margin: 0.8rem 0rem;
  }
  button {
    background-color: $button_background;
    color: $button_letter;
    font-weight: bold;
    padding: 0.7rem;
    border-radius: 5px;
    border: none;
    margin: 1rem auto;
    cursor: pointer;
  }
  button:hover {
    background-color: $button_ancor_hover;
  }
}
